
/* HEADER AND FOOTER STYLING
   Remains the same for every page */

header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 10;
}

header img {
    width: 60px;
    height: 80px;
}

.header-content {
    background-color: #01264d;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
    height: 120px;
}

nav {
    display: flex;
    gap: 25px;
    margin-left: 70px;
}

nav a{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: white;
    font-size: 28px;
    font-style: italic;
    text-shadow: 2px 0px 2px rgb(4, 4, 4);
    text-decoration: none;
}

nav a:hover{
    cursor: pointer;
    color: rgb(180, 178, 178);
}

.belowheader {
    background-color: #001f3d;
    height: 30px;
    position: sticky;
}

html {
    background-color: #001f3d;
}

body {
    margin: 0;
    padding: 0;
}


footer {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    background-color:#001f3d;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 100px;
    padding-right: 70px;
}

.footer-column {
    max-width: 200px;
}

.footer-column h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-column a {
    color: #cccccc;
    margin-bottom: 10px;
    font-size: 12px;
    text-decoration: underline;
}
.footer-column a:hover {
    color: white;
}

.footer-column p, .footer-column span {
    display: block;
    font-size: 12px;
    line-height: 1.6;
}

/* END OF PAGE SIMILAR CONTENT */

.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}


/* CSS for Main Page slideshow */

#slideshow {
    display: flex;
    height: 810px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: black;
}

.slide {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    
    /* Stack all slides on top of each other */
    position: absolute;
    top: 0;
    left: 0;
    
    /* Make slides invisible by default */
    opacity: 0;
    
    /* Set the base z-index for inactive slides */
    z-index: 0;
    
    /* Any change to opacity takes two seconds */
    transition: opacity 2s ease-in-out;
}

.active-slide {
    /* Make the active slide visible */
    opacity: 1;
    
    /* Bring the active slide to the front */
    z-index: 1;
}

.slidetext {
    margin-left: 260px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: white;
    font-size: 60px;
    font-style: italic;
    text-shadow: 4px 2px 2px rgb(4, 4, 4);
}

/* About us image and info */

.aboutus {
    display: flex;
    flex-direction: column;
    background-color:#01264d;
    justify-content: center;
    align-items: center;
    gap: none;
}

#aboutustext {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: white;
    font-size: 45px;
    text-shadow: 4px 2px 2px rgb(4, 4, 4);
    margin-top: 20px;
    margin-bottom: 0px;
    padding: none;
}

.team {
    height: 490px;
    width: 1100px;
    scale: 90%;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 25px;
}

.teamdesc {
    width: 58%;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 17px;
}

/* CSS for the GIF videos near the end of the page */

.showcasevideos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: row;
}

.scwrapper {
  width: 450px;
  height: 450px;
  overflow: hidden;
}


.scvid {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
