header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 10;
}

header img {
    width: 60px;
    height: 81px;
    margin-left: 20px;
}


.header-content {
    background-color: #01264d;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
    height: 120px;
}

nav {
    display: flex;
    gap: 25px;
    margin-left: 70px;
}

nav a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 28px;
    font-style: italic;
    text-shadow: 2px 0px 2px rgb(4, 4, 4);
    text-decoration: none;
}

nav a:hover{
    cursor: pointer;
    color: rgb(180, 178, 178);
}

.belowheader {
    background-color: #001f3d;
    height: 30px;
    position: sticky;
}

html {
    background-color: #001f3d;
}

body {
    margin: 0;
    padding: 0;
}


footer {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    background-color:#001f3d;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 100px;
    padding-right: 70px;
}

.footer-column {
    max-width: 200px;
}

.footer-column h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-column a {
    color: #cccccc;
    margin-bottom: 10px;
    font-size: 12px;
    text-decoration: underline;
}
.footer-column a:hover {
    color: white;
}

.footer-column p, .footer-column span {
    display: block;
    font-size: 12px;
    line-height: 1.6;
}

/* END OF PAGE SIMILAR CONTENT */

.inter-300 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

#joinus-main-pic{
    display: flex;
    height: 810px;
    width: 100%;
    position: relative;
    background-color: black;
    background-attachment: fixed;
}

.slide {
    height: 100%;
    width: 100%;
    background-size: 1920px auto;
    background-position: center 20%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.slidetext {
    margin-left: 260px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 60px;
    font-style: italic;
    text-shadow: 4px 2px 2px rgb(4, 4, 4);
}

#joinus-pre-footer {
    background-color:#01264d;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#welcomeimg {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 45%;
    height: 500px;
    border-radius: 2px;
    background-image: url('../assets/images/joinus/mxXD.avif');
    background-size: cover;
    background-position: center;
}

#welcometext {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    color: white;
    font-size: 15px;
    text-shadow: 4px 2px 2px rgb(4, 4, 4);
    width: 80%;
    text-align: center;
}

#buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100px;
    gap: 30%;
    margin: 10px 0px 20px 0px;
}

.button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 30px;
    background-color: white;
    color:#001f3d;
    width: 200px;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 15px;
}

.button:hover {
    background-color: rgb(178, 171, 171);

}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 36px;
    cursor: pointer;
    line-height: 1;
    padding: 0 10px;
}

@media (max-width: 768px) {

    .header-content {
        justify-content: space-between;
        
        gap: 0;
    }

    .menu-toggle {
        display: block; 
    }

    /* dropdown menu on mobile */
    nav {
        display: none;
        position: absolute;
        top: 150px;
        left: 0;
        width: 100%;
        background-color: #01264d;
        
        flex-direction: column; 
        margin-left: 0;
        gap: 0;
        
        border-bottom: 3px solid #001f3d;
    }

    nav.show {
        display: flex;
    }

    nav a {
        font-size: 22px;
        padding: 20px 0;
        width: 100%;
        text-align: center;
        text-shadow: none;
        border-bottom: 1px solid #001f3d;
    }

    nav a:last-child {
        border-bottom: none;
    }
    
    nav a:hover {
        background-color: #001f3d;
        color: white;
    }

    .slidetext {
        margin-left: 0;
        text-align: center;
        font-size: 40px;
    }

    #welcome {
        font-size: 40px;
    }

    #welcomeimg {
        width: 80%;
        background-image: url('../assets/images/joinus/joinus.jpeg');
        align-items: flex-start;
    }

    #welcometext {
        width: 95%;
        text-shadow: 2px 2px 2px black;
        font-weight: bold;
        color: white;
        margin-top: 510px;
    }

    #buttons {
        padding-top: 130px;
        gap: 10%;
        width: 90%;
        height: 100px;
    }

    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
        padding-right: 20px;
    }

}